<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.nasdanika.rigel.tests.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="json" version="20180813.0.0"/>
			<repository location="https://www.nasdanika.org/home/products/maven-osgi/repository"/>
			<unit id="org.apache.commons.codec" version="1.11.0"/>
			<unit id="org.apache.commons.lang3" version="3.7.0"/>
			<unit id="org.apache.commons.text" version="1.4.0"/>
			<unit id="org.jsoup" version="1.11.3"/>
			<unit id="net.sourceforge.plantuml" version="1.2019.5"/>
			<unit id="com.github.spullara.mustache.java.compiler" version="0.9.6"/>
			<unit id="org.freemarker.freemarker" version="2.3.28.stable"/>
			<unit id="org.yaml.snakeyaml" version="1.24.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://www.nasdanika.org/home/products/third-party/repository"/>
			<unit id="org.nasdanika.third-party.feature.feature.group" version="2.2019.4.201906301725"/>
		</location>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2019-06"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.18.0.v20190528-0845"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
			<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
			<unit id="org.junit" version="4.12.0.v201504281640"/>
		</location>
	</locations>
</target>