<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rigel -->
      <category
            id="org.nasdanika"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.rigel.presentation.RigelModelWizardID"
            name="%_UI_RigelModelWizard_label"
            class="org.nasdanika.rigel.presentation.RigelModelWizard"
            category="org.nasdanika"
            icon="icons/full/obj16/RigelModelFile.png">
         <description>%_UI_RigelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.nasdanika.rigel.presentation.RigelFormsEditorID"
            name="%_UI_RigelFormsEditor_label"
            icon="icons/full/obj16/RigelModelFile.png"
            extensions="rigel"
            default="true"
            class="org.nasdanika.rigel.presentation.RigelFormsEditor">
      </editor>
      
      <!-- @generated rigel -->
      <editor
            id="org.nasdanika.rigel.presentation.RigelEditorID"
            name="%_UI_RigelEditor_label"
            icon="icons/full/obj16/RigelModelFile.png"
            extensions="rigel"
            class="org.nasdanika.rigel.presentation.RigelEditor"
            contributorClass="org.nasdanika.rigel.presentation.RigelActionBarContributor">
      </editor>
   </extension>

</plugin>
